.btn
{
	padding: 10px;
	background-color: #000;
	color: #fff;
	text-decoration: none;

}

.btn-red
{
	background-color: #BE1622;
	border-radius: 5px;
	font-weight: bold;
}

.btn-blue
{
	background-color: #2C75FF;
	border-radius: 10px;
	transition: ease 0.5s;
}

.btn-blue:hover
{
	background-color: rgba(44, 117, 255, 0.7);
}

.btn-circle
{
	/*border-radius: 100%;*/
	padding: 30px;
	font-size: 30px;
	background-color: #cdcdcd;
}