.card
{
	border-radius: 10px;
	height: 500px;
	width: 300px;
	background-color: #BE1622;
	display: flex;
	flex-flow: column;
	text-align: center;
	padding: 20px;
}

.card-img
{
	background-image: url('../images/zoro.png');
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 200px;
	width: 300px;
}

.card-img > *
{
	margin: auto;
}

.card-img


.card-btn
{
	display: none;
}