@import url('css/normalize.css');
@import url('css/avatar.css');
@import url('css/cards-components.css');
@import url('css/product-cards.css');
@import url('css/product.css');
@import url('css/contact.css');
@import url('css/whoweare.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');
@font-face {
    font-family: 'OneDay';
    src: url('font/ONEDAY.otf') format('otf'), url('font/ONEDAY.woff') format('woff'), url('font/ONEDAY.woff2') format('woff2'), url('font/ONEDAY.ttf') format('truetype');
}

::selection {
    background: #BE1622;
    color: #fff;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #BE1622;
    color: #fff;
    /* Gecko Browsers */
}

.header-smartphone {
    display: none
}

#toggled {
    display: none;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

header {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-image: linear-gradient(rgba(#BE1622, 0.5), rgba(0, 0, 0, 0.5)), url('images/stardust.png');
    align-items: center;
    color: #fff;
    padding-bottom: 30px;
}

.sub-block {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.logo img {
    height: 50px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

.kicker > img {
    height: 180px;
    width: 300px;
}

header form > * {
    float: left;
    padding: 10px;
}

input {
    border: none;
    box-shadow: none;
}

input:active,
input:focus {
    box-shadow: none;
    outline: none;
}

button {
    border: none;
    box-shadow: none;
    background-color: #BE1622;
    color: #fff;
    font-family: ONEDAY;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 0 5px 5px 0;
}

button:active,
button:focus {
    outline: none;
    box-shadow: none;
}

.para {
    font-size: 30px;
}

.kicker {
    text-align: center;
}

.best-seller {
    display: flex;
    flex-flow: column nowrap;
}

.carte-flex {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    min-height: 500px;
    box-shadow: 0 0 30px black;
    padding: 20px 0;
}

.carte-favoris {
    margin-top: 20px;
    position: relative;
}

header .form-index input {
    width: 300px;
    border-radius: 5px 0 0 5px;
    padding: 20px;
    background-color: black;
}

header form button {
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Open Sans';
    font-weight: lighter;
}

.best-seller > h2 {
    text-align: center;
    text-transform: uppercase;
    color: #FFf;
    letter-spacing: 2px;
}

.carte-favoris-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: blue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://img07.deviantart.net/ac86/i/2010/058/f/5/deadpool_by_mjfletcher.jpg');
    background-position: 20% 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carte-favoris-thumbnail.deadpool {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://img09.deviantart.net/d463/i/2006/188/b/2/samurai_champloo_vector_2_by_socketto.jpg');
}

.carte-favoris {
    position: relative;
    cursor: pointer;
}

.carte-favoris:hover .carte-favoris-thumbnail {
    opacity: 1;
}

.product-grid {
    display: flex;
    flex-flow: row wrap;
    padding: 0 10px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    height: 250px;
    width: 250px;
    background-color: #FFF;
    margin: 10px;
}

a.btn.btn-hover {
    left: 64px;
}

.promises {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.promise {
    text-align: center;
    min-width: 250px;
}

footer {
    background-color: #222;
    padding: 10px;
}

footer .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer .content > * {
    display: inline-block;
}

footer .copyright {
    text-align: right;
    align-self: flex-end;
}

@media screen and (max-width: 572px) {
    .sub-block {
        display: none;
    }
    header {
        display: none !important;
    }
    .nav-smartphone ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .header-smartphone {
        display: block;
        height: 100vh;
        /*background-color: blue;*/
        background-image: url('images/SoGeekLogo.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 20px;
    }
    .header-smartphone > i {
        font-size: 50px;
        color: #BE1622;
    }
    .the-toggler {
        top: 36px;
        left: 20px;
        color: black;
        position: fixed;
        z-index: 9999;
        cursor: pointer;
        text-shadow: none;
        transition: 0.7s text-shadow 0.2s ease, color 0.7s ease-in-out;
    }
    .nav-smartphone {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        right: 0;
        bottom: 0;
        z-index: 7777;
        height: 100vh;
        width: 100vw;
        background-color: black;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 23px;
        transition: left 0.5s cubic-bezier(0.82, 0.01, 0.77, 0.78);
    }
    .nav-smartphone a,
    ul li {
        padding: 20px;
    }
    .nav-smartphone > a {
        font-size: 23px;
    }
    label {
        color: #fff;
        font-size: 30px;
    }
    #toggled:checked + .header-smartphone .nav-smartphone {
        left: 0;
    }
    #toggled:checked + .header-smartphone .the-toggler {
        color: #BE1622!important;
        text-shadow: 0 0 10px #BE1622;
    }
}

#logo-header:hover {
    border: none;
}

.active {
    border-bottom: 4px solid #BE1622 !important;
}

.card {
    position: relative;
}

.card > img {
    width: 250px;
    height: 200px;
    padding: 10px;
}

.card > a,
.card > i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    color: #BE1622;
}

.main-content.card {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: -100px;
    right: -900px;
    height: 200%;
    width: 300%;
}

.focus-card-small:focus + .main-content.card {
    display: block;
    position: absolute;
    top: -100px;
    right: -900px;
    height: 300%;
    width: 300%;
    z-index: 8888;
    opacity: 1;
}

.focus-card-small {
    padding: 10px;
}

.main-content-details.favoris {
    position: absolute;
}

.first-button.favoris-card {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.first-button.favoris-card a {
    background-color: #FF9F1C;
    position: relative;
}

.first-button.favoris-card a:after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    left: -100px;
    transition: all 0.3s ease-in;
    transform: skewX(-20deg);
}

.first-button.favoris-card a:before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    left: -100px;
    transition: all 0.4s ease-in;
    transform: skewX(-20deg);
}

.first-button.favoris-card a:hover:after {
    left: 190px;
}

.first-button.favoris-card a:hover:before {
    left: 190px;
}

.first-button.favoris-card a:hover {
    box-shadow: 0 0 10px #FF9F1C;
}

span.main {
    font-size: 12px !important;
}

.carte-favoris > a.btn-hover {
    height: 50px;
}

.promise:after {
    content: " ";
    display: block;
    height: 2px;
    border-top: 1px dashed #fff;
}

.promise .fa.fa-truck {
    color: #FF9F1C;
}

.promise .fa.fa-clock-o {
    color: #4aa3df;
}

.promise .fa-star {
    color: #e67e22;
}

.promise .fa.fa-gift {
    color: #e74c3c;
}

.promise > p {
    color: #fff;
}

.twitter-tweet-main {
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid #4aa3df;
    border-radius: 5px;
}

.twitter-tweet {
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    padding: 10px;
}

.twitter-tweet > * {
    text-align: left;
}

.twitter-tweet p {
    color: #fff;
}

a[href='https://twitter.com/AMehdiW/status/700514406933749760'] {
    color: #fff;
}

.twitter-tweet span {
    color: #4aa3df;
}

@media screen and (max-width: 664px) {
    header nav ul {
        display: flex;
        flex-wrap: nowrap;
    }
}

.btn-fix {
    line-height: 2.4;
}